.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#board {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  margin: 25px 50px;
  min-height: 500px;
  flex-grow: 3;
  border: 5px #935d43 double;
  border-radius: 10px;
}

.board-block {
  padding: 20px;
  height: 30px;
  background-color: #f1f0e8;
  border-radius: 5%;

  &:nth-child(16n + 1),
  &:nth-child(16n + 3),
  &:nth-child(16n + 5),
  &:nth-child(16n + 7),
  &:nth-child(16n + 10),
  &:nth-child(16n + 12),
  &:nth-child(16n + 14),
  &:nth-child(16n + 16) {
    background-color: #adc4ce;
    color: white;
  }
}
.button-container {
  text-align: center;
}
#forfeit,
#home {
  margin-top: 30px;
  background-color: #f3b95f;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  width: 150px;
  font-weight: bold;
  border: 2px rgb(82, 0, 0) solid;
}
#forfeit:hover,
#home:hover {
  background-color: #d04848;
  cursor: pointer;
}
.piece {
  background-image: url(images/ghost.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.op-piece {
  background-image: url(images/born.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cr-piece {
  background-image: url(images/clown_ghost.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cr-op-piece {
  background-image: url(images/clown_born.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.highlight {
  background-color: #eec759 !important;
}
#result {
  display: none;
  position: absolute;
  top: 300px;
  z-index: 5000;
  background-color: white;
  min-width: 95%;
  margin: 0px;
  text-align: center;
  padding: 2%;
  font-size: 30px;
  border: 1px black solid;
  border-radius: 20px;
  color: red;
}
#home {
  position: relative;
  bottom: 25px;
}

.stats {
  flex-grow: 2;
  background-color: #aad9bb;
  margin: 0 40px;
  max-height: 400px;
  max-width: 320px;
  border-radius: 100px;
  text-align: center;
  font-size: 30px;
  color: red;
}
.pieces-info {
  margin: 20px 30px 30px 30px;
  background-color: white;
  font-size: 20px;
  border: 7px pink double;
  border-radius: 50px;
  color: #638889;
}
.highlight-movables {
  border-radius: 10px;
  outline: 3px #d04848 solid;
  outline-offset: -2px;
  z-index: 1000;
  animation: blink 1.5s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  50% {
    outline-color: #f3b95f;
  }
}
